<div class="personal-products">
  <h1>Products</h1>
  <div class="personal-products-inner-wrapper">
    <div class="personal-products-inner" *ngFor="let product of products">
      <div class="product-info">
        <p [innerHTML]="product.name"></p>
      </div>
      <img src="{{product.hero.href?product.hero.href:'./../assets/images/default.png'}}" (click)="openModal(product)">
      <div class="product-info-price">
        <p>$ {{product.priceRange.selling.high}}</p>
      </div>
    </div>
  </div>
</div>
<app-modal *ngIf="showModal" [product]="selectedProduct" (hideModal)="showModal = false"></app-modal>