.personal-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.personal-products h1{
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 2px solid #4c4b4b;
    padding-bottom: 10px;
    color: #4c4b4b;
    text-transform: uppercase;
}
.personal-products-inner-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
}
.personal-products-inner{
    max-width: 365px;
    background-color: #fbf6f6;
    position: relative;
}
.personal-products-inner img{
    width:100%;
    cursor: pointer;
    margin-bottom: -4px;
}
.personal-products-inner:hover .product-info{
    background-color:rgba(0,0,0,0.8);
}
.personal-products-inner .product-info{
    background-color:rgba(0,0,0,0.4);
    height: 60px;
    color: #fff;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}
.personal-products-inner .product-info p{
    margin: 0;
    padding: 10px;
    font-size: 15px;
}
.product-info-price{
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 5px 10px;
    background-color: #4e4d4e;
    color: #fff;
}
.personal-products-inner:hover .product-info-price{
    background-color: #292829;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.25, 1.25, 1.25);
      transform: scale3d(1.25, 1.25, 1.25);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.personal-products-inner .product-info-price p{
    padding: 0;
    margin: 0;
}


@media screen and (max-width:1200px){
    .personal-products{
        justify-content: space-between;
    }
}
@media screen and (max-width:768px){
    .personal-products-inner-wrapper{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:480px){
    .personal-products-inner .product-info p{
        font-size: 14px;
    }
    .personal-products-inner img{
        min-width:230px;
    }
}

