.back-ground{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(62, 54, 54, 0.75);
}
.modal-content{
    position: fixed;
    top: 50%;
    background: lightgrey;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    max-width: 500px;
    width: 100%;
    max-height: 500px;
}
#carousal-container{
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.modalClose{
    width: 30px;    
    z-index: 100;
}
.modalClose:hover{
    background-color:rgb(252, 208, 134);
}
#carousal-container .arrows {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 20px;
    border-radius:50%; 
    background-color: rgba(255,255,255, 0.4)
}

#carousal-container .arrows:hover{
    background-color: rgba(255,255,255, 0.9)
}

.right-arrow{
    float:right;
}
#carousal-container ul{
   padding:0;
   margin: 0;
   list-style: none;
}
.arrow-container{
    position: absolute;
    top:50%;
    width: 100%;
    opacity: 0.1;
}
.close-popup{
    position: absolute;
    top:0;
    right:0;
    padding: 10px;
    cursor: pointer;
    opacity: 0.1;
}
.img-indicators{
    position: absolute;
    bottom: 4px;
    background:rgba(0,0,0, 0.19);
    width: 100%;
    height: 40px;
}

.img-indicators ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.img-indicators ul li{
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
#carousal-container:hover .arrow-container,.modal-content:hover .close-popup{
    opacity: 1;
}
#carousal-container ul li img{
   width:100%;
   background-size: cover;
}
.img-indicators ul li {
    cursor: pointer;
}
.img-indicators ul li.active{
    background-color:#fff;
}
#carousal-container .left-arrow img, #carousal-container .right-arrow img{
    width:30px !important;
    height:30px !important;
}
.animate{
    -webkit-transition: all 0.23s ease-out 0.23s;
    -moz-transition: all 0.23s ease-out 0.23s;
    -o-transition: all 0.23s ease-out 0.23s;
    transition: all 0.23s ease-out 0.23s;
}