<div id="modal-container">
  <div class="back-ground"></div>
  <div class="modal-content">
    <div id="carousal-container">
      <div class="arrow-container animate">
        <a class="left-arrow">
          <img src="../../assets/images/arrow_right_left_back_otline-512.png" (click)="leftClick()" class="arrows" />
        </a>
        <a class="right-arrow">
          <img src="../../assets/images/arrow_right.png" (click)="rightClick()" class="arrows" />
        </a>
      </div>
      <ul>
        <li *ngFor="let item of product.images; let ind = index" [hidden]="ind != currentIndex">
          <img src="{{item.href}}" />
        </li>
      </ul>
      <div class="img-indicators">
        <ul>
          <li *ngFor="let item of product.images; let ind = index" (click)="currentIndex = ind" class="carousal-indicator-item"
            [ngClass]="ind == currentIndex ? 'active': ''"></li>
        </ul>
      </div>
    </div>
    <div class="close-popup animate">
      <img src="../../assets/images/xButton.png" (click)="closeModal()" class="modalClose" />
    </div>
  </div>
</div>