/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 10px;
    background-color: rgb(247, 206, 206);
    font-family: 'Libre Franklin', sans-serif;
}